:root{
    --calendar-width: 840px;
}

.calendar-wrapper{
    width: var(--calendar-width);
    margin: 0 auto;
    color: rgb(99, 99, 99);
    font-weight:bold;
    font-size: 14px;
}

#cal-header{
    text-align: center;
    font-size: 24px;
    width: 100%;
    color:#67C1FF;
}

/* カレンダー */
#calendar{
    text-align: center;
    width: 100%;
}

table{
    table-layout: fixed;
    outline: 0.5px solid #8ed2ff;
    border-collapse: collapse;
    width: 100%;
}
th {
    outline: 0.5px solid #cfecff;
    background-color:#67C1FF;
    color:white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
td {
    outline: 0.5px solid #cfecff;
    vertical-align: top;
    text-align: left;
    padding-top: 7px;
    padding-left: 7px;
    height: 80px;
}
th, td {
    width: calc(var(--calendar-width)/7);
    max-width: calc(var(--calendar-width)/7);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 今月以外の日付（文字の色を薄く） */
td.date-disabled{
    color:#ddd;
}

/* 本日 */
td.today {
    color: #67C1FF;
    font-weight: bold;
}

/* 月切替ボタン */
#switch-button{
    position: relative;
}

#switch-button button {
    cursor: pointer;
    background: #67C1FF;
    color: white;
    border: 1px solid #67C1FF;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 30px;
    margin: 15px 0;
}
#switch-button button:hover {
    background-color: #9dd8ff;
    border-color: #9dd8ff;
}
#prev {
    float: left;
}

#next {
    float: right;
}

/* イベント日 */
.event{
    background-color:#fff9e3;
}

/* イベント名 */
.event-name {
    color:#eca83e;
    font-size: 14px;
}

/* イベント時間 */
.event-time {
    color:#eca83e;
    font-size: 12px;
}